<!--
<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu" role="navigation">
            <a href="/start" id="proposition-name">Service example</a>
            <span class="alpha-tag">Alpha</span>
        </nav>
    </div>
</div>
-->