<div id="wrapper">
    <main id="content" class="group" role="main">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-xlarge">
                    <span class="heading-secondary">GOV.UK Service example</span>
                    Dropwizard using mustache
                </h1>

                <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

            </div>
        </div>
    </main>
</div>